<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<script type="text/javascript" src="/static/lib/html5shiv.js"></script>
<script type="text/javascript" src="/static/lib/respond.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="http://static.h-ui.net/h-ui.admin/3.1/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="http://static.h-ui.net/www/home/css/H-ui.doc.css" />
<link rel="stylesheet" type="text/css" href="http://lib.h-ui.net/Hui-iconfont/1.0.8/iconfont.min.css" />

<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://static.h-ui.net/h-ui/3.1/js/H-ui.min.js"></script>
<script type="text/javascript" src="http://static.h-ui.net/www/home/js/H-ui.admin.www.js"></script>
<script type="text/javascript" src="http://static.h-ui.net/www/home/js/common.js"></script>
<title>case管理系统</title>
</head>
<body>
<header id="header">
</header>
<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		<ul>
			<li><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;概述</a></li>
		</ul>
		<dl id="menu_notes">
			<dt>&nbsp;&nbsp;&nbsp;&nbsp;example1<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="#">case</a></li>
				</ul>
			</dd>
		</dl>
		<ul>
			<li><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;example2</a></li>
		</ul>
		<ul>
			<li><a href="/login/words">example3</a></li>
		</ul>
		<dl id="menu_2">
			<dt>example4<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="#">case</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu_3">
			<dt>example15<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="#">case</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu_4">
			<dt>example6<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="#">case</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu_5">
			<dt>example7<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="#" target="_blank">5.1 404页面</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>

<p class="Hui-article-box">
    123
</p>

<script type="text/javascript">
    $("header").load("/login/templates/header.html")
</script>
</body>
</html>